In [1]:
import torch 
from torchvision import datasets,transforms
transform = transforms.ToTensor()
train_data = datasets.MNIST(root='data', train=True,
                                   download=True, transform=transform)
test_data = datasets.MNIST(root='data', train=False,
                                  download=True, transform=transform)

  0%|          | 0/9912422 [00:00<?, ?it/s]

Downloading http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz to data/MNIST/raw/train-images-idx3-ubyte.gz

9920512it [00:00, 10014511.22it/s]

Extracting data/MNIST/raw/train-images-idx3-ubyte.gz

32768it [00:00, 856813.94it/s]
 10%|▉         | 163840/1648877 [00:00<00:00, 1634166.44it/s]

Downloading http://yann.lecun.com/exdb/mnist/train-labels-idx1-ubyte.gz to data/MNIST/raw/train-labels-idx1-ubyte.gz
Extracting data/MNIST/raw/train-labels-idx1-ubyte.gz
Downloading http://yann.lecun.com/exdb/mnist/t10k-images-idx3-ubyte.gz to data/MNIST/raw/t10k-images-idx3-ubyte.gz

1654784it [00:00, 4829173.72it/s]
8192it [00:00, 359595.80it/s]

Extracting data/MNIST/raw/t10k-images-idx3-ubyte.gz
Downloading http://yann.lecun.com/exdb/mnist/t10k-labels-idx1-ubyte.gz to data/MNIST/raw/t10k-labels-idx1-ubyte.gz
Extracting data/MNIST/raw/t10k-labels-idx1-ubyte.gz
Processing...
Done!

In [4]:
len(train_data),len(test_data)

(60000, 10000)

In [10]:
import numpy as np
labelall = np.zeros(len(train_data)+len(test_data),dtype = 'int')
datall = np.zeros((len(train_data)+len(test_data),28,28))
for i in range(len(train_data)):
    datall[i,:,:] = np.expand_dims(train_data[i][0].numpy(),0)
    labelall[i] = train_data[i][1]
for j in range(len(test_data)):
        #print(j)
    datall[len(train_data)+j,:,:] = np.expand_dims(test_data[j][0].numpy(),0)
        #print(j)
    labelall[len(train_data)+j] = int(test_data[j][1])

In [11]:
len(datall)

70000

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
np.random.seed(224)
x_train,x_test,y_train,y_test = train_test_split(datall,labelall,test_size = 0.2,random_state=224)
np.save('mnist.train.npy',x_train)
np.save('mnist.test.npy',x_test)
np.save('mnist.trainlabel.npy',y_train)
        
submissiondict = {'id': list(range(1,(len(y_test)+1))),
                  'class' : y_test}
df = pd.DataFrame(submissiondict)
print(df.head())
df.to_csv('answer.csv',index=False) # This is the answer for HW 2
print('Finish!!')

   id  class
0   1      1
1   2      2
2   3      9
3   4      8
4   5      5
Finish!!

In [18]:
np.random.seed(224)
sample = {'id': list(range(1,(len(y_test)+1))),
                  'class' : list(np.random.randint(10,size=14000))}
dfx = pd.DataFrame(submissiondict)
print(dfx.head())
dfx.to_csv('sample_submission.csv',index=False)

   id  class
0   1      1
1   2      2
2   3      9
3   4      8
4   5      5

In [19]:
dfx

          id  class
0          1      1
1          2      2
2          3      9
3          4      8
4          5      5
5          6      7
6          7      5
7          8      2
8          9      9
9         10      2
10        11      7
11        12      4
12        13      6
13        14      0
14        15      2
15        16      3
16        17      7
17        18      2
18        19      3
19        20      5
20        21      5
21        22      8
22        23      6
23        24      4
24        25      4
25        26      3
26        27      7
27        28      5
28        29      8
29        30      2
...      ...    ...
13970  13971      1
13971  13972      5
13972  13973      9
13973  13974      8
13974  13975      4
13975  13976      0
13976  13977      6
13977  13978      3
13978  13979      8
13979  13980      0
13980  13981      2
13981  13982      8
13982  13983      0
13983  13984      2
13984  13985      7
13985  13986      3
13986  13987      8
13987  13988      9
13988  13989      0
13989  13990      0
13990  13991      9
13991  13992      5
13992  13993      9
13993  13994      9
13994  13995      6
13995  13996      1
13996  13997      7
13997  13998      4
13998  13999      0
13999  14000      1

[14000 rows x 2 columns]